
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:1.5;color:#333;background-color:#fff;margin:0}
a{color:#0ac;font-weight:bold;text-decoration:none}
a:hover,a:focus{color:#ff4d4d;text-decoration:underline}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
img{vertical-align:middle}
.img-rounded{border-radius:9px}
.img-circle{border-radius:50%}
hr{margin-top:22px;margin-bottom:22px;border:0;border-top:1px solid #eee}
p{margin:0 0 11px}
small{font-size:85%}
cite{font-style:normal}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
h1,h2,h3,h4,h5,h6{font-family:Helvetica,Arial,sans-serif;font-weight:500;line-height:1.1}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#999;font-size:60%}
h1,h2,h3,h4,h5,h6{margin-top:22px;margin-bottom:11px}
h1{font-size:42px}
h2{font-size:36px}
h3{font-size:29px}
h4{font-size:22px}
h5{font-size:19px}
h6{font-size:16px}
header.top{padding-bottom:10px;margin:44px 0 22px;border-bottom:1px solid #eee}
ul,ol{margin-top:0;margin-bottom:11px}ul ul,ol ul,ul ol,ol ol{margin-bottom:0}
ul.unstyled{padding-left:0;list-style:none}
ul.inline{padding-left:0;list-style:none}ul.inline>li{display:inline-block;padding-left:5px;padding-right:5px}
dl{margin-bottom:22px}
dt,dd{line-height:1.5}
dt{font-weight:bold}
dd{margin-left:0}
@media (min-width:768px){dl.horizontal dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap} dl.horizontal dd{margin-left:180px}dl.horizontal dd:before,dl.horizontal dd:after{content:" ";display:table;} dl.horizontal dd:after{clear:both}}blockquote{padding:11px 22px;margin:0 0 22px;border-left:5px solid #eee}blockquote p{font-size:18.75px;font-weight:300;line-height:1.25}
blockquote p:last-child{margin-bottom:0}
blockquote small{display:block;line-height:1.5;color:#999}blockquote small:before{content:'\2014 \00A0'}
q:before,q:after,blockquote:before,blockquote:after{content:""}
address{display:block;margin-bottom:22px;font-style:normal;line-height:1.5}
code,pre{font-family:Monaco,Menlo,Consolas,"Courier New",monospace}
code{padding:2px 4px;color:#c7254e;white-space:nowrap;border-radius:6px}
pre{display:block;padding:10.5px;margin:0 0 11px;line-height:1.5;word-break:break-all;word-wrap:break-word;color:#333;background-color:#f5f5f5;border-radius: 5px;}pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;border:0}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.container:before,.container:after{content:" ";display:table;}
.container:after{clear:both}
.row{margin-left:15px;margin-right:15px}.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;float:left}
.col-1{width:8.333333333333332%}
.col-2{width:16.666666666666664%}
.col-3{width:25%}
.col-4{width:33.33333333333333%}
.col-5{width:41.66666666666667%}
.col-6{width:50%}
.col-7{width:58.333333333333336%}
.col-8{width:66.66666666666666%}
.col-9{width:75%}
.col-10{width:83.33333333333334%}
.col-11{width:91.66666666666666%}
.col-12{width:100%}
.offset-0{margin-left:0}
.offset-1{margin-left:8.333333333333332%}
.offset-2{margin-left:16.666666666666664%}
.offset-3{margin-left:25%}
.offset-4{margin-left:33.33333333333333%}
.offset-5{margin-left:41.66666666666667%}
.offset-6{margin-left:50%}
.offset-7{margin-left:58.333333333333336%}
.offset-8{margin-left:66.66666666666666%}
.offset-9{margin-left:75%}
.offset-10{margin-left:83.33333333333334%}
.offset-11{margin-left:91.66666666666666%}
@media (min-width:992px){.container{max-width:970px}}@media (min-width:1200px){.container{max-width:1170px}}table{max-width:100%;border-collapse:collapse}
table.t{margin:auto;margin-bottom:22px}table.t tr>th,table.t tr>td{padding:8px;line-height:1.5;border-top:1px solid #ddd}
table.t thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}
table.condensed th,table.condensed td{padding:5px}
table.border{border:1px solid #ddd}table.border th,table.border td{border:1px solid #ddd}
table.zebra>tbody>tr:nth-child(odd)>td,table.zebra>tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}
table.hover>tbody>tr:hover{background-color:#f5f5f5}
legend{display:block;width:100%;padding:0;margin-bottom:22px;font-size:22.5px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #e5e5e5}
fieldset{border:0}
label{display:inline-block;margin-bottom:5px;font-weight:bold}
.control::-moz-placeholder{color:#999}
.control:-ms-input-placeholder{color:#999}
.control::-webkit-input-placeholder{color:#999}
input.control,select.control,textarea.control{display:block;width:100%;height:36px;padding:6px 12px;line-height:1.5;color:#555;background-color:#fff;border:1px solid #ccc;border-radius:6px;-webkit-transition:all ease-in .4s;transition:all ease-in .4s}input.control:focus,select.control:focus,textarea.control:focus{border-color:#66afe9;outline:0}
input.control[disabled],select.control[disabled],textarea.control[disabled],input.control[readonly],select.control[readonly],textarea.control[readonly],fieldset[disabled] input.control,fieldset[disabled] select.control,fieldset[disabled] textarea.control{cursor:not-allowed;background-color:#eee}
textareainput.control,textareaselect.control,textareatextarea.control{height:auto}
@media (min-width:768px){form.inline input.control,form.inline select.control,form.inline textarea.control,form.inline .form-group{display:inline-block} form.inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle} form.inline .control{display:inline-block}}
.form-group{margin-bottom:15px}
form.horizontal .form-group{margin-left:-15px;margin-right:-15px}form.horizontal .form-group:before,form.horizontal .form-group:after{content:" ";display:table;}
form.horizontal .form-group:after{clear:both}
.form-horizontal{padding-top:6px}
@media (min-width:768px){form.horizontal .control-label{text-align:right}}.btn{display:inline-block;text-decoration:none;color:#fff;border-radius:6px;border-width:1px;line-height:1.5;padding:6px 12px;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555}.btn:hover{text-decoration:none;-webkit-box-shadow:1px 2px 5px #777;box-shadow:1px 2px 5px #777}
.btn-default{color:#000;border-color:#ccc;border-bottom-color:#b3b3b3;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #fff, #e6e6e6);background-image:-moz-linear-gradient(45deg, #fff, #e6e6e6);background-image:linear-gradient(45deg, #fff, #e6e6e6)}.btn-default:hover{background:#ccc}
.btn-inverse{border-color:#222;border-bottom-color:#080808;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #555, #3b3b3b);background-image:-moz-linear-gradient(45deg, #555, #3b3b3b);background-image:linear-gradient(45deg, #555, #3b3b3b)}.btn-inverse:hover{background:#222}
.btn-danger{border-color:#a02622;border-bottom-color:#761c19;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #d9534f, #c9302c);background-image:-moz-linear-gradient(45deg, #d9534f, #c9302c);background-image:linear-gradient(45deg, #d9534f, #c9302c)}.btn-danger:hover{background:#a02622}
.btn-info{border-color:#2390b0;border-bottom-color:#1b6d85;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #5bc0de, #31b0d5);background-image:-moz-linear-gradient(45deg, #5bc0de, #31b0d5);background-image:linear-gradient(45deg, #5bc0de, #31b0d5)}.btn-info:hover{background:#2390b0}
.btn-success{border-color:#357935;border-bottom-color:#255625;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #5cb85c, #449d44);background-image:-moz-linear-gradient(45deg, #5cb85c, #449d44);background-image:linear-gradient(45deg, #5cb85c, #449d44)}.btn-success:hover{background:#357935}
.btn-primary{border-color:#245682;border-bottom-color:#193c5a;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #428bca, #3071a9);background-image:-moz-linear-gradient(45deg, #428bca, #3071a9);background-image:linear-gradient(45deg, #428bca, #3071a9)}.btn-primary:hover{background:#245682}
.btn-warning{border-color:#c77c11;border-bottom-color:#985f0d;background-repeat:repeat-x;background-image:-webkit-linear-gradient(45deg, #f0ad4e, #ec971f);background-image:-moz-linear-gradient(45deg, #f0ad4e, #ec971f);background-image:linear-gradient(45deg, #f0ad4e, #ec971f)}.btn-warning:hover{background:#c77c11}
.btn-sm{font-size:.7em}
.btn-lg{font-size:1.2em}
.btn-round{border-radius:20px}
.btn-active,.btn-active:hover,.btn.disabled,.btn[disabled],.btn-disabled,.btn-disabled:hover{opacity:1;filter:alpha(opacity=100);background:#d1d1d1;border:1px solid #b3b3b3;text-shadow:0 1px 1px #fff}
.btn.disabled,.btn[disabled]{color:#999}
.hero{padding:30px;margin-bottom:30px;font-size:22.5px;font-weight:200;line-height:2.25;color:#fff;background-color:#0ac;border-radius:6px}.hero h1{line-height:1;color:inherit}
.hero p{line-height:1.4}
@media screen and (min-width:768px){.hero{padding-top:50px;padding-bottom:50px}.hero h1{font-size:67.5px}}
/* Formatea los mensajes Flash::xxx() de KumbiaPHP */
.flash {
    margin: 5px 0;
    min-height: 32px;
    padding:3px 10px 3px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    line-height: 32px;
    border-radius: 2px;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.valid {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.paginator{
}
.paginator .nextprev{
  color: #000;
}
.paginator a{
border:1px solid #e8ebf1;
padding:.5em;
text-decoration:none;
margin: .5em .1em;
background:#FFF;
}
.paginator a:hover{
background: #e8ebf1;
}
.paginator strong{
background: #e8ebf1;
border:1px solid #e8ebf1;
padding:.5em;
margin: .5em .1em;
}
.actions {
border-top: dotted 1px grey; padding-top: 1em; margin: .5em 0 0;
}

label, input, textarea, select{
   display: block;
}
footer{
    padding-top: 1em; margin-top:2em; border-top: 1px solid #ccc; 
}